.website{
    border: green 2px solid;
}

.audio hr{
    border: red 2px solid;
    width: 50%
}

.video hr{
    /* border: blue 2px solid; */
    width: 50%;
    color: blue;
    height: 2px;
}

.book {
    border: orange 2px solid;
}

.article {
    border: yellow 2px solid;
}

.image {
    border: purple 2px solid;
}

.search-card{
    margin: 10px 20px 10px 20px;
}